<div class="practice">
  <h1>{{title}}</h1>
  <div class="clear"></div>
  <h3>{{hours}}</h3>
  <div class="notes">
    {{notes}}
  </div>
  <div class="controls">
    <a href="#" class="btn">Edit</a>
    <button type="button" class="btn red">Delete</button>
  </div>
</div>
