<div id="header">
  {{#link-to 'practices' class="left" id="logo"}}Practices{{/link-to}}
  {{#link-to 'practices.new' class="right btn"}}New Practice{{/link-to}}
</div>
<div id="main">
  {{outlet}}
</div>
