<div id="master">
  <ul>
    {{#each}}
      <li class="practice">
        {{#link-to 'practices.show' this}}
          {{title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div id="detail">
  {{outlet}}
</div>
